.container {
  --text-color: #333;
  --button-bg-color: #ff6600;
  --table-header-color: #ffb83d;
  --table-header-text-color: #777777;
  --table-background-color: #bebebe50;  

  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 30px;
  box-sizing: border-box;
  margin-bottom: 30px;
}

.TitleText {
  font-size: 3rem;
  font-weight: bold;
  padding: 10px;
  color: var(--text-color);
  text-align: center;
}

.SubTitleText {
  margin-top: 30px;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px;
  color: var(--text-color);
  text-align: center;
}

.ExampleTableContainer {
  width: 90%;
  max-width: 800px;
}

.proposal {
  width: 95%;
  max-width: 1000px;
  height: 700px;
  overflow: hidden;
  margin-top: 20px;
  margin-bottom: 30px;
}

.proposal iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.ExampleTable{
  background-color: var(--table-background-color);
  width: 100%;
}

.ExampleTable th {
  font-weight: bold;
  background-color: var(--table-header-color)
}

.tableTd {
  white-space: normal;
  word-break: break-word;
}

.sliderContainer {
  width: 100%; 
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  padding: 10px;

}

/* レスポンシブデザイン */
@media (max-width: 768px) {
  .TitleText {
    font-size: 2.5rem;
  }
  .SubTitleText {
    font-size: 1.2rem;
  }
  .proposal {
    height: 500px;
  }
  .ExampleTable {
    size: "sm";
  }
  .sliderContainer {
    padding-bottom: 5px;
}
}

@media (max-width: 480px) {
  .proposal {
    height: 400px;
  }
}