.container {
  --text-color: #333;
  --red-color: red;
  --button-bg-color: #ff6600;
  --button-hover-bg-color: #a04000;
  --button-outline-color: #ff9900;
  --border-color: #797979;

  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}

.TitleText {
  align-items: flex-start;
  font-size: 2rem;
  font-weight: bold;
  color: var(--text-color);
  text-align: center;
  margin-bottom: 5px;
}

.DateText {
    color: #6d6d6d;
    font-size: 0.8rem;
    text-align: center;
    margin-bottom: 20px;
}


.SubTitleText {
  width: 80%;
  border-top: 1px solid var(--border-color);
  margin-top: 60px;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px;
  color: var(--text-color);
  text-align: center;
}

.DescriptionText {
  font-size: 1rem;
  padding: 30px;
  margin-top: 10px;
  text-align: center;
  color: var(--text-color);
}

.DescriptionText span {
  color: var(--red-color);
}

.LinkArea {
  margin-top: 20px;
}

.NewsList{
    text-align: center;
}



@media (max-width: 600px) {
    .TitleText {
      font-size: 1.7rem;
    }
  }