header {
  border-bottom: 1px solid silver;
  padding: 2px;
  display:  flex;
  justify-content: space-between;
  align-items: center;
}
#logo{
  width: 20%;
  padding-right:"5px"; 
  display: "flex"; 
  justify-content :"center" ;
  align-items : "center"; 
  font-size: small;
  white-space: nowrap;
}
#logo img{
  vertical-align: middle
}

#LinkBox{
  width:  "75%";
  padding: 3px; 
  display : "flex";
  justify-content:"flex-end"; 
  align-items:"center" ;
  background-color: "blackAlpha.500";
  flex-wrap: nowrap;
}
.navLink{
  white-space: nowrap;
  font-size: x-small;
  text-decoration: none;
}
.navLink:hover{
  text-decoration: none;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
