:root {
  --header-background-color: #ffb93d;
  --background-color: #ffca6ec0;
  --foreground: #171717;
  --hover-color: #ff6600; /* ホバー時の文字色 */
  --header-height: 70px;
}


.wrapper {
  min-height: calc(100vh - 70px); /*①高さの最小値*/
  position: relative; /*②相対位置*/
}

footer {
  width: 100%;
  height: 70px;
  position: absolute; /*②絶対位置*/
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.UIprovider_inner_container {
  background-color: var(--background-color);
  height: 100%;
}

/* ヘッダー共通スタイル */
header {
  min-height: var(--header-height);
  background-color: var(--header-background-color);
  padding: 2px;
  border-bottom: 1px solid silver;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ナビゲーションリンクの共通スタイルを適用 */
.nav_menu a,
.nav_button a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  font-weight: bold;
  transition: color 0.3s ease, transform 0.3s ease;
}

/*モバイル表示(600px以下)*/
@media (max-width: 600px) {
  .header_logo .header_logo_image {
    width: 150px;
  }
  header .nav_button {
    display: none;
  }
  .nav_menu {
    display: block;
  }
  .nav_menu a {
    /* ナビゲーションメニューのリンクスタイル */
    /* 共通のナビゲーションリンクスタイルを適用 */
  }
}

/*PC表示(601px以上)*/
@media (min-width: 601px) {
  .header_logo:hover {
    transform: scale(1.05);
  }
  header .nav_menu {
    display: none;
  }
  .nav_button {
    display: flex;
    gap: 20px;
    padding: 10px;
  }
  .nav_button a {
    /* 共通のナビゲーションリンクスタイルを適用 */
  }
  .nav_button a:hover {
    color: var(--hover-color);
    transform: scale(1.1);
  }
}
