
.page {
  --text-color: #333;
  --border-color: #ccc;
  --countdown-text-size: 3rem;
  --countdown-days-size: 10rem;
  --countdown-other-size: 2rem;
  --table-header-text-color: #777777;
  --table-background-color: #bebebe50;  

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 100vh;
}

.main_illust {
  width: 90%;
  max-width: 100%;
  height: auto;
  margin-top: 30px;
  margin-bottom: 20px;
  object-fit: contain;
}

.infoBox {
  padding-left: 25px;
  display: flex;
  justify-content: center;
  background-color: var(--table-background-color);
  height: 200px;
  min-height: 150px;
  width: 90%;
  max-width: 900px;
  overflow-y: scroll;
  border: 1px solid var(--border-color);
  margin-bottom: 20px;
}

.countdown {
  height: 200px;
  width: 90%;
  max-width: 900px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 5px;
  margin: 50px;
  margin-bottom: 5px;
}
.text {
  font-size: var(--countdown-text-size);
  font-weight: bold;
  position: absolute;
  top: -4rem; /*上部に配置*/ 
  color: var(--text-color);
}

.Ato {
  font-size: var(--countdown-other-size);
  position: absolute;
  left: 20%; /* 左上に配置 */
  top: 0rem;
  color: var(--text-color);
}

.days {
  font-size: var(--countdown-days-size);
  font-weight: bold;
  color: var(--text-color);
}

.Nichci {
  font-size: var(--countdown-other-size);
  position: absolute;
  right: 20%; /* 右下に配置 */
  bottom: -1rem;
  color: var(--text-color);
}

.Toujitsu{
  font-size: var(--countdown-text-size);
  font-weight: bold;
  color: var(--text-color);
}

@media (max-width: 768px) {
  .text {
    font-size: 2rem;
    top: -3rem;
  }
  .Ato{
    font-size: 2rem;
    left: 25%;
  }
  .days {
    font-size: 5rem;
  }
  .Nichci {
    font-size: 2rem;
    right: 25%;
    bottom: -0.5rem;
  }
  .Toujitsu{
    font-size: 2rem;
    margin-bottom: 30px;
  }
}

@media (max-width: 480px) {
  .text {
    font-size: 1.5rem;
    top: -2rem;
  }
  .Ato{
    font-size: 1.5rem;
    left: 15%;
  }
  .days {
    font-size: 6rem;
  }
  .Nichci {
    font-size: 1.5rem;
    right: 15%;
    bottom: 0rem;
  }
  .Toujitsu{
    font-size: 1.5rem;
  }
}